.range{
    height: 3.5rem;
    width: 100%;
    margin: 2.5rem 0;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
    background-color: var(--snitap-joy-light);
    animation: backgroundColor 11s linear infinite;

    & > div {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-family: var(--ff-syne);
        font-size: 1.25rem;
        animation: rolling 2s linear infinite;
        & img {
            width: 1rem;
        }
    }
}

@keyframes rolling {
    to {
        transform: translateX(-120px);
    }
}

@keyframes backgroundColor {
    50% {
        background-color: var(--snitap-sky-light) ;
    }

}